<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.gpg123.prometheus.mapper.PrometheusRuleMapper">

    <resultMap id="BaseResultMap" type="vip.gpg123.prometheus.domain.PrometheusRule">
        <id property="ruleId" column="rule_id"/>
        <result property="groupId" column="group_id"/>
        <result property="ruleName" column="rule_name"/>
        <result property="status" column="status"/>
        <result property="ruleState" column="rule_state"/>
        <result property="severityLevel" column="severity_level"/>
        <result property="forTime" column="for_time"/>
        <result property="expr" column="expr"/>
        <result property="summary" column="summary"/>
        <result property="type" column="type"/>
        <result property="status" column="status"/>
        <result property="description" column="description"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap id="BaseResultMapExtension" extends="BaseResultMap" type="vip.gpg123.prometheus.dto.PrometheusRuleVO">
        <result property="groupName" column="group_name"/>
        <result property="exporterType" column="exporter_type"/>
    </resultMap>

    <sql id="Base_Column_List">
        rule_id,group_id,rule_name,status,for_time,expr,
        annotations,type,status,description,create_by,
        create_time,update_by,update_time
    </sql>

    <!--条件语句-->
    <sql id="queryWrapper">
        <where>1=1
            <if test="qw != null and qw.ruleId != null">
                and rule_id = #{qw.ruleId}
            </if>
            <if test="qw != null and qw.ruleName != null and qw.ruleName !=''">
                and rule_name like concat('%',#{qw.ruleName},'%')
            </if>
            <if test="qw != null and qw.groupId != null and qw.groupId !=''">
                and group_id like concat('%',#{qw.groupId},'%')
            </if>
            <if test="qw != null and qw.type != null and qw.type !=''">
                and type = #{qw.type}
            </if>
            <if test="qw != null and qw.createBy != null">
                and r.create_by = #{qw.createBy}
            </if>
            <if test="qw != null and qw.updateBy != null">
                and r.update_by = #{qw.updateBy}
            </if>
        </where>
    </sql>

    <!--基础查询-->
    <sql id="baseSelect">
        SELECT r.*,
               t.job_name AS group_name,
               t.exporter_type AS exporter_type,
               uu.user_name AS createByUserName,
               uc.user_name AS updateByUserName
        FROM prometheus_rule r
                 LEFT JOIN prometheus_target t ON r.group_id = t.target_id
                 LEFT JOIN sys_user uu ON r.create_by = uu.user_id
                 LEFT JOIN sys_user uc ON r.update_by = uc.user_id
    </sql>

    <select id="list" resultMap="BaseResultMap">
        <include refid="baseSelect"/>
        <include refid="queryWrapper"/>
    </select>

    <!--单个查询-->
    <select id="one" resultMap="BaseResultMap">
        <include refid="baseSelect"/>
        <include refid="queryWrapper"/>
    </select>

    <!--分页查询-->
    <select id="page" resultMap="BaseResultMap">
        <include refid="baseSelect"/>
        <include refid="queryWrapper"/>
    </select>

    <select id="pageExtension" resultMap="BaseResultMapExtension">
        <include refid="baseSelect"/>
        <include refid="queryWrapper"/>
    </select>
</mapper>
