# 项目相关配置
cloud-server:
  # 名称
  name: cloud-server
  # 版本
  version: 3.8.7
  # 版权年份
  copyrightYear: 2024
  # 文件路径 示例（ Windows配置D:/ruoyi/uploadPath，Linux配置 /home/ruoyi/uploadPath）
  profile: D:/cloud-server/uploadPath
  # 获取ip地址开关
  addressEnabled: false
  # 验证码类型 math 数字计算 char 字符验证
  captchaType: math
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,druid
  endpoint:
    health:
      show-details: always
    druid:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
# 开发环境配置
server:
  # 服务器的HTTP端口，默认为8080
  port: 9099
  servlet:
    # 应用的访问路径
    context-path: /api
  tomcat:
    # tomcat的URI编码
    uri-encoding: UTF-8
    # 连接数满后的排队数，默认为100
    accept-count: 1000
    threads:
      # tomcat最大线程数，默认为200
      max: 800
      # Tomcat启动初始化的线程数，默认值10
      min-spare: 100

# 日志配置
logging:
  level:
    vip.gpg123: debug
    vip.gpg123.vip.dashboard.service.UmamiApi: debug
    com.ruoyi: debug
    org.springframework: warn

# 用户配置
user:
  password:
    # 密码最大错误次数
    maxRetryCount: 5
    # 密码锁定时间（默认10分钟）
    lockTime: 10

# Spring配置
spring:
  application:
    name: cloud-server
  main:
    # 允许bean定义覆盖
    allow-bean-definition-overriding: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  # 资源信息
  messages:
    # 国际化资源文件路径
    basename: i18n/messages
  profiles:
    active: datasource,common,aliyun,tracing,amqp,es
  # 文件上传
  servlet:
    multipart:
      # 单个文件大小
      max-file-size: 10MB
      # 设置总上传的文件大小
      max-request-size: 20MB
  # 服务模块
  devtools:
    restart:
      # 热部署开关
      enabled: false
  # redis 配置
  redis:
    # 地址
    host: redis.gpg123.vip
    # 端口，默认为6379
    port: 6379
    # 数据库索引
    database: 0
    #
    #username: default
    # 密码
    password: Gaopuguang@2024%
    # 连接超时时间
    timeout: 10s
    lettuce:
      pool:
        # 连接池中的最小空闲连接
        min-idle: 0
        # 连接池中的最大空闲连接
        max-idle: 8
        # 连接池的最大数据库连接数
        max-active: 8
        # #连接池最大阻塞等待时间（使用负值表示没有限制）
        max-wait: -1ms
  quartz:
    properties:
      org.quartz.threadPool.threadsInheritContextClassLoaderOfInitializingThread: true
      org.quartz.scheduler.makeSchedulerThreadDaemon: true
  mail:
    host: smtpdm.aliyun.com
    port: 465
    username: admin@gpg123.vip
    password: Gaopuguang2025Y
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          socketFactory:
            class: javax.net.ssl.SSLSocketFactory
    default-encoding: utf-8
  cloud:
    consul:
      host: ecs.gpg123.vip
      port: 8500
      discovery:
        enabled: true
        prefer-ip-address: false
        register-health-check: false
        health-check-path: ${management.server.servlet.context-path}/actuator/health
        health-check-interval: 15s
        acl-token: 30e4a95a-28d6-4974-9826-d2067ffddfcd
        instance-id: ${cloud-server.name}-${os.name}
        service-name: ${cloud-server.name}-${os.name}
      scheme: http

# token配置
token:
  # 令牌自定义标识
  header: Authorization
  # 令牌密钥
  secret: abcdefghijklmnopqrstuvwxyz
  # 令牌有效期（默认30分钟）
  expireTime: 4320


# PageHelper分页插件
pagehelper:
  helperDialect: mysql
  supportMethodsArguments: true
  params: count=countSql

# Swagger配置
swagger:
  # 是否开启swagger
  enabled: true
  # 请求前缀
  pathMapping: /

# 防止XSS攻击
xss:
  # 过滤开关
  enabled: true
  # 排除链接（多个用逗号分隔）
  excludes: /system/notice
  # 匹配链接
  urlPatterns: /system/*,/monitor/*,/tool/*
feign:
  client:
    config:
      umami-api:
        logger-level: full
      exacg-api:
        logger-level: full
      wx-api:
        logger-level: full
#