<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.gpg123.umami.mapper.UmamiUserMapper">

    <resultMap id="BaseResultMap" type="vip.gpg123.umami.domain.UmamiUser">
            <id property="userId" column="user_id" />
            <result property="username" column="username" />
            <result property="password" column="password" />
            <result property="role" column="role" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
            <result property="deletedAt" column="deleted_at" />
            <result property="displayName" column="display_name" />
            <result property="logoUrl" column="logo_url" />
    </resultMap>

    <sql id="Base_Column_List">
        user_id,username,password,role,created_at,updated_at,
        deleted_at,display_name,logo_url
    </sql>
</mapper>
