apiVersion: v1
kind: ConfigMap
metadata:
  name: shell-cm
  namespace: devops
data:
  git-clone.sh: |
    #!/bin/sh
    echo "开始进行git仓库克隆...";
    echo "输出相关环境变量";
    echo "GIT_NAME:${GIT_NAME}"
    echo "GIT_URL:${GIT_URL}"
    echo "GIT_BRANCH:${GIT_BRANCH}"
    GIT_CRED_FILE="/root/.git-credentials";
    echo "正在检查git认证文件：${GIT_CRED_FILE}是否存在..."
    if [ -f "$GIT_CRED_FILE" ]; then
        echo "认证配置文件已存在，可以进行git仓库克隆"
        cd "/home" && git clone -b ${GIT_BRANCH} $GIT_URL
    else
        echo "认证配置文件不存在，流程结束..."
        exit 1
    fi
  maven-package.sh: |
    #!/bin/sh
    echo "开始进行打包..."
    echo "输出相关环境变量";
    echo "GIT_NAME:${GIT_NAME}"
    cd /home/${GIT_NAME} && mvn clean package -DskipTests
  docker-build.sh: |-
    #!/bin/sh
    echo "开始进行镜像构建...";
    echo "输出相关环境变量"
    echo "GIT_NAME: ${GIT_NAME}";
    echo "IMAGE_NAME: ${IMAGE_NAME}";
    echo "IMAGE_VERSION: ${IMAGE_VERSION}"
    cd /home/$GIT_NAME && docker build -t $IMAGE_NAME:$IMAGE_VERSION .
  docker-push.sh: |
    #!/bin/sh
    # 登录到 Docker Registry（如果需要）
    echo "开始进行镜像推送..."
    echo "输出相关环境变量"
    echo "GIT_NAME: ${GIT_NAME}";
    echo "IMAGE_NAME: ${IMAGE_NAME}";
    echo "IMAGE_VERSION: ${IMAGE_VERSION}"
    CONFIG_FILE="~/.docker/config.json";
    echo "检查镜像仓库认证文件:${CONFIG_FILE}是否存在"
    if [ $? -f $CONFIG_FILE ]; then
    echo "认证文件存在，可以执行推送"
        # 推送 Docker 镜像到 Registry
        echo "开始镜像推送..."
        docker push ${IMAGE_NAME}:${IMAGE_VERSION}
        if [ $? -ne 0 ]; then
        echo "镜像推送失败!"
        exit 1
        fi
        echo "镜像推送成功!"
    else 
        echo "认证文件不存在，无法推送";
    fi  
