apiVersion: v1
kind: PersistentVolume
metadata:
  name: prometheus-pv
  labels:
    pv: prometheus-pv
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/home/prometheus"
    type: DirectoryOrCreate

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: prometheus-pvc
  labels:
    pvc: prometheus-pvc
spec:
  selector:
    matchLabels:
        pv: prometheus-pv
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
