<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.gpg123.ide.mapper.IdeCodeSpaceMapper">

    <resultMap id="BaseResultMap" type="vip.gpg123.ide.domain.IdeCodeSpace">
            <id property="name" column="name" jdbcType="VARCHAR"/>
            <result property="tags" column="tags" jdbcType="VARCHAR"/>
            <result property="gitId" column="git_id" jdbcType="VARCHAR"/>
            <result property="gitHttp" column="git_http" jdbcType="VARCHAR"/>
            <result property="workPath" column="work_path" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        name,tags,git_id,git_http,
        work_path,description,create_by,
        update_by,create_time,update_time
    </sql>
</mapper>
