<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.gpg123.wallpaper.mapper.DynamicWallpaperMapper">

    <resultMap id="BaseResultMap" type="vip.gpg123.wallpaper.domain.DynamicWallpaper">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="dirName" column="dir_name"/>
        <result property="dirPath" column="dir_path"/>
        <result property="tags" column="tags"/>
        <result property="size" column="size"/>
        <result property="url" column="url"/>
        <result property="description" column="description"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

    <!-- 新的ResultMap，继承原有ResultMap并添加新字段 -->
    <resultMap id="dynamicWallpaperWithCountsResultMap"
               type="vip.gpg123.wallpaper.domain.DynamicWallpaperExtension"
               extends="BaseResultMap">
        <!-- 继承原有映射 -->
        <!-- 无需重复写原有字段 -->
        <!-- 新增字段映射 -->
        <result property="viewCount" column="view_count"/>
        <result property="downloadCount" column="download_count"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,dir_path,tags,size,url,
        description,create_time,create_by,update_time,update_by
    </sql>
    <!--基础查询-->
    <sql id="baseSelect">
        SELECT dw.*,
               (SELECT COUNT(*)
                FROM umami.website_event we
                WHERE we.website_id = '379a0d2f-0272-42ce-8002-e4bb3bb31526'
                  AND we.url_path = '/info'
                  AND we.url_query = CONCAT('id=', dw.id, '&amp;cateName=', dw.dir_name) COLLATE utf8mb4_unicode_ci)  AS `view_count`,
               (SELECT COUNT(*)
                FROM umami.website_event we
                WHERE we.website_id = '379a0d2f-0272-42ce-8002-e4bb3bb31526'
                  AND we.url_path = '/download'
                  AND we.url_query = CONCAT('id=', dw.id, '&amp;cateName=', dw.dir_name) COLLATE utf8mb4_unicode_ci) AS `download_count`
        FROM wallpaper.dynamic_wallpaper dw
    </sql>

    <!--条件语句-->
    <sql id="queryWrapper">
        <where>1=1
            <if test="qw.id != null">
                and id = #{qw.id}
            </if>
            <if test="qw.name != null and qw.name !=''">
                and name like concat('%',#{qw.name},'%')
            </if>
            <if test="qw.dirName != null and qw.dirName != ''">
                and dir_name = #{qw.dirName}
            </if>
        </where>
    </sql>

    <!--分页查询-->
    <select id="page" resultMap="dynamicWallpaperWithCountsResultMap">
        <include refid="baseSelect"/>
        <include refid="queryWrapper"/>
    </select>
</mapper>
