<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.gpg123.git.mapper.GitMapper">

    <resultMap id="BaseResultMap" type="vip.gpg123.git.domain.Git">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="home" column="home" jdbcType="VARCHAR"/>
            <result property="httpUrl" column="http_url" jdbcType="VARCHAR"/>
            <result property="sslUrl" column="ssl_url" jdbcType="VARCHAR"/>
            <result property="hasJob" column="has_job" jdbcType="TINYINT"/>
            <result property="language" column="language" jdbcType="VARCHAR"/>
            <result property="jobTypes" column="job_types" jdbcType="OTHER"/>
            <result property="jobCount" column="job_count" jdbcType="INTEGER"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,code,
        type,home,http_url,
        ssl_url,has_job,language,
        job_types,job_count,create_by,
        create_time,update_by,update_time
    </sql>
</mapper>
